<div class="mt-4">
    <form method = "POST" action = "/search">
        <div class="mb-3">
            <label for="search-input" class="form-label">Từ Khóa</label>
            <input type="text" name = "keyword" class="form-control" id="search-input" placeholder = "Nhập từ khóa">
        </div>

        <div class="mb-3">
            <label for="search-input" class="form-label">Từ Khóa</label>
            <select type="text" name = "gender" class="form-control" id="search-input" placeholder = "Nhập từ khóa"> 
                <option value="">Gender</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>